{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="container">

    {% for glimpse in glimpses %}
      <div class="card mb-3">
        <div class="card-body"> 
          <h2 class="card-title"><a href="{% url "glimpses:list" %}?username={{glimpse.created_by.username}}">{{glimpse.created_by.username}}</a></h2>
          <p class="card-text">{{ glimpse.title }}</p>
          <a class="card-text" href="{{ glimpse.url }}" target="_blank" rel="noopener noreferrer" >
            <p class="card-text">{{ glimpse.url }}</p>
          </a>
          <p class="card-text">{{ glimpse.text }}</p>
          {% for tag in glimpse.tags.all %}
            <a href="{% url "glimpses:list" %}?tag={{tag.name}}">#{{ tag.name }}</a>
          {% endfor %}


          <div>
            {% if user.is_authenticated %}
              {% if glimpse.created_by == user %}
              <a href="{% url "glimpses:update" glimpse.id %}"><button id="EditButton" class="btn btn-light" type="button">Edit</button></a>

              {% else %}

                <form method="POST" action="{% url "glimpses:like" glimpse.id %}">
                  {% csrf_token %}
                  {% if user in glimpse.liked_by.all %}
                    <button id="likeButton" class="btn btn-secondary" type="submit">Unlike ({{glimpse.likes.count}})</button>
                  {% else %}
                    <button id="likeButton" class="btn btn-primary" type="submit">Like ({{glimpse.likes.count}})</button>
                  {% endif %}
                </form>

                <form method="POST" action="{% url "glimpses:rate" glimpse.id %}" class="uni_form" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{rate_form |crispy }}
                <button class="btn btn-primary" type="submit">Rating ({{glimpse.average_rate}})</button>
                </form>

                <div class="col text-center"><br>
                  
              </div>

              {% endif %}
              
            {% endif %}

          </div>
        </div>
        <small class="card-footer text-muted text-right p-2">{{ glimpse.creation_datetime|date:"H:i - d.m.Y" }}</small>
      </div>
    {% endfor %}
  </div>
  <div class="container" >
    <span class="step-links" >
        {% if page_obj.has_previous %}
        <button class="btn btn-secondary" type="button" onclick="location.href='?page=1'" >First</button>
        <button class="btn btn-secondary" type="button" onclick="location.href='?page={{ page_obj.previous_page_number }}'">Previous</button>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <button class="btn btn-secondary" type="button" onclick="location.href='?page={{ page_obj.next_page_number }}'">Next</button>
            <button class="btn btn-secondary" type="button" onclick="location.href='?page={{ page_obj.paginator.num_pages }}'">Last</button>
        {% endif %}
    </span>
</div>
{% endblock content %}
