{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">

    <form method="POST" class="uni_form" enctype="multipart/form-data" id="create-form">
      {% csrf_token %} <!--Security feature of Django to determine who sent the request -->
      {{form |crispy }}
      <button class="btn btn-primary" type="submit">Save</button>
      <a href="{% url "posts:list" %}"><button class="btn btn-light" >Cancel</button>
    </form>
  </div>
{% endblock content %}