{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="container">

    {% for post in posts %}
      <div class="card mb-3">
        <div class="card-body"> 
          <h2 class="card-title"><a href="{% url "posts:list" %}?username={{post.created_by.username}}">{{post.created_by.username}}</a></h2>
          <img class="img-fluid mb-3" style="max-height:400px" src="{{ post.image.url }}"/>
          <p class="card-text">{{ post.text }}</p>
          {% for tag in post.tags.all %}
            <a href="{% url "posts:list" %}?tag={{tag.name}}">#{{ tag.name }}</a>
          {% endfor %}


          <div>
            {% if user.is_authenticated %}
              {% if post.created_by == user %}
              <a href="{% url "posts:update" post.id %}"><button id="EditButton" class="btn btn-light" type="button">Edit</button></a>

              {% else %}

                <form method="POST" action="{% url "posts:like" post.id %}">
                  {% csrf_token %}
                  {% if user in post.likers.all %}
                    <button id="likeButton" class="btn btn-secondary" type="submit">Unlike ({{post.likes.count}})</button>
                  {% else %}
                    <button id="likeButton" class="btn btn-primary" type="submit">Like ({{post.likes.count}})</button>
                  {% endif %}
                </form>

                <form method="POST" action="{% url "posts:rate" post.id %}" class="uni_form" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{rate_form |crispy }}
                <button class="btn btn-primary" type="submit">Rate ({{post.average_rate}})</button>
                </form>

                <div class="col text-center"><br>
                  
              </div>

              {% endif %}
              
            {% endif %}

          </div>
        </div>
        <small class="card-footer text-muted text-right p-2">{{ post.creation_datetime|date:"H:i - d.m.Y" }}</small>
      </div>
    {% endfor %}
  </div>
  <div class="container" >
    <span class="step-links" >
        {% if page_obj.has_previous %}
        <button class="btn btn-secondary" type="button" onclick="location.href='?page=1'" >First</button>
        <button class="btn btn-secondary" type="button" onclick="location.href='?page={{ page_obj.previous_page_number }}'">Previous</button>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <button class="btn btn-secondary" type="button" onclick="location.href='?page={{ page_obj.next_page_number }}'">Next</button>
            <button class="btn btn-secondary" type="button" onclick="location.href='?page={{ page_obj.paginator.num_pages }}'">Last</button>
        {% endif %}
    </span>
</div>
{% endblock content %}
